// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #2A6591;
$secondary : #dedede;
$accent    : #19587F;

$dark      : #3C484C;

$positive  : #21BA45;
$negative  : #EF6D3A;
$info      : #54B2C8;
$warning   : #EEA53A;

$border    : #F0F0F0;

@import '~quasar-variables-styl'

