@import './quasar.variables.scss';
@import '~quasar-styl';
// @import '~quasar-addon-styl';


.tabs-item {
    margin: 30px 15px;
    padding: 0;
}


body {
    font-family: 'Open-Sans', sans-serif;
}