<template>
    <div class="q-pa-xl" style="width: 100%">
        <div class="q-pa-sm">
            <q-select
                class="select-max-width"
                standout
                filled
                v-model="wallet"
                :options="options"
                label="Choose your wallet"
                outlined
                :dense="false"
                :options-dense="false"
            />
        </div>
        <div class="q-pa-sm">
            <q-select
                class="select-max-width"
                standout
                filled
                v-model="currency"
                :options="options"
                label="Choose your currency"
                outlined
                :dense="false"
                :options-dense="false"
            />
        </div>

        <div class="q-pa-sm text-center">
            <q-img
                src="https://chart.googleapis.com/chart?chs=120x120&cht=qr&chl=FGBfvcnkfdnvkk74365832ybvcvdfvfvb"
                style="height: 120px; max-width: 120px"
            />
        </div>

        <div class="q-mb-md text-center">FGBfvcnkfdnvkk74365832ybvcvdfvfvb</div>

        <div class="select-max-width flex-center">
            <q-btn
                class="full-width"
                :no-caps="true"
                :padding="'11px'"
                color="primary"
                label="copy"
            />
        </div>
    </div>
</template>

<script setup>
import { ref } from "vue";

const wallet = ref(null);
const currency = ref(null);
const options = ref(["Kraken", "Bitcoin", "Doge", "Ripple"]);
</script>