    <template>
        <div class="q-pa-xl" style="width: 100%">
            <div class="select-max-width" color="dark">From</div>
            <div class="q-pa-sm">
                <q-select
                    class="select-max-width"
                    standout
                    filled
                    v-model="walletFromSender"
                    :options="options"
                    label="Choose your wallet"
                    outlined
                    :dense="false"
                    :options-dense="false"
                />
            </div>

            <div class="q-mt-md select-max-width" color="dark">To</div>
            <div class="q-pa-sm">
                <q-select
                    class="select-max-width"
                    standout
                    filled
                    v-model="walletToSender"
                    :options="options"
                    label="Choose wallet"
                    outlined
                    :dense="false"
                    :options-dense="false"
                />
            </div>
            <div class="q-pa-sm">
                <q-select
                    class="select-max-width"
                    standout
                    filled 
                    v-model="currency"
                    :options="options"
                    label="Choose your currency"
                    outlined
                    :dense="false"
                    :options-dense="false"
                />
            </div>

            <div class="q-mt-sm select-max-width">
                <p class="text-primary text-small" :size="'10px'">You can transfer  <strong class="text-strong"> 1 246.64837562 SWZL (Swapzilla)</strong></p>
                <q-input  bottom-slots v-model="amountToSend"  label="Amount" filled outlined  :dense="false" />
                <q-checkbox color="dark" size="sm" v-model="checkbox" val="sm" label="Instant rebalance" />
                
            </div>

            <p class="text-primary text-small q-mt-md">
                    Fee: <strong class="text-strong"> 0.0004 SWZL</strong>
                    Amount with fee: <strong class="text-strong">  0 SWZL </strong>
                </p>


            <div class="select-max-width flex-center">
                <q-btn
                    :no-caps="true"
                    class="full-width"
                    :padding="'11px'"
                    color="primary"
                    label="Apply"
                />
            </div>
    </div>
</template>

<script setup>
import { ref } from "vue";

const walletFromSender = ref(null)
const walletToSender = ref(null)
const amountToSend = ref(null)
const currency = ref(null)
const checkbox = ref(false)
const options = ref( ["Kraken", "Bitcoin", "Doge", "Ripple"])
</script>

<style>

.text-small {
    font-size: 10px;
}

.text-strong {
    padding: 3px;
    background: rgba(42, 101, 145, 0.1);
    border-radius: 3px;
}
</style>