    <template>
        <div class="q-pa-xl" style="width: 100%">
            <div class="q-pa-sm">
                <q-select
                    class="select-max-width"
                    standout
                    filled
                    v-model="wallet"
                    :options="options"
                    label="Choose exchange"
                    outlined
                    :dense="false"
                    :options-dense="false"
                />
            </div>
            <div class="q-pa-sm">
                <q-select
                    class="select-max-width"
                    standout
                    filled
                    v-model="currency"
                    :options="options"
                    label="Choose currency"
                    outlined
                    :dense="false"
                    :options-dense="false"
                />
            </div>

        <div class="q-pa-sm">
            <q-input class="select-max-width" type="number" bottom-slots v-model.number="maxValue" :maxlength="30" label="Withdraw amount"  outlined  filled :dense="false">
                <template v-slot:append>
                     <q-btn @click="maxValue = 30" style="background: #9AA2A8; color: white" label="Max" />
                </template>
            </q-input>
        </div>

        <div class="select-max-width flex-center">
        <q-btn
            :no-caps="true"
            class="full-width"
            :padding="'11px'"
            color="primary"
            label="Withdraw"
        />
        </div>
    </div>
</template>

<script setup>
import { ref } from "vue";

const wallet = ref(null)
const currency = ref(null)
const maxValue = ref(null)
const options = ref(["Kraken", "Bitcoin", "Doge", "Ripple"])
</script>
