<template>
  <q-layout style="background: #9da3a5">
    <q-page-container class="align-items-center justify-content-center">
      <q-card class="my-card fixed-center" style="width: 780px">
        <q-list class="row align-items-center">
          <q-tabs v-model="tab" narrow-indicator>
            <q-tab :ripple="false" label="Deposit" name="Deposit" />
            <q-tab :ripple="false" label="Withdraw" name="Withdraw" />
            <q-tab :ripple="false" label="Rebalance" name="Rebalance" />
          </q-tabs>
        </q-list>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="Deposit">
            <deposit-block />
          </q-tab-panel>

          <q-tab-panel name="Withdraw">
            <withdraw-block />
          </q-tab-panel>

          <q-tab-panel name="Rebalance">
            <rebalance-block />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
    </q-page-container>
  </q-layout>
</template>


<script setup>
import { ref } from "@vue/reactivity";
import DepositBlock from "./components/DepositBlock.vue";
import RebalanceBlock from "./components/RebalanceBlock.vue";
import WithdrawBlock from "./components/WithdrawBlock.vue";

const tab = ref("Deposit");
</script>


<style>
.select-max-width {
  max-width: 380px;
  margin: 0 auto;
}
</style>